{% extends 'base.html' %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block title %}
    Log in | LG
{% endblock %}

{% block content %}
    
    <form class="form" action="{{ url_for('auth_routes.login_page') }}" method="post" novalidate>

        {{ form.csrf_token }}

        {% for error in get_flashed_messages()|list + form.username.errors|list %}
            <p class="field-error">{{ error }}</p>
        {% endfor %}
        {{ form.username(class='field', autocomplete='off', placeholder='Username') }}

        {% for error in form.password.errors %}
            <p class="field-error">{{ error }}</p>
        {% endfor %}
        {{ form.password(class='field', autocomplete='off', placeholder='Password') }}
        
        <div class="check-box-container">
            {{ form.remember_me(class='check-box') }}
            <p class="remember-me-text">Remember me</p>
        </div>

        {{ form.submit(class='submit', value='Log in') }}
    </form>

{% endblock %}

{% block scripts %}
{% endblock %}