{% extends 'base.html' %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
{% endblock %}

{% block title %}
    Home | LG
{% endblock %}

{% block content %}
    {% if g.user.is_authenticated %}
        
        {% if user_chats %}

            <div class="inner-content">
                {% for chat in user_chats %}

                    {% if chat.last_message_text %}

                        {% set recipient_id = chat.room_name|replace(g.user.id, '')|replace(':', '') %}

                        <a href="{{ url_for('chat_routes.chat_room', room_name=chat.room_name) }}" onclick="leave_room()"><div class="chat-plate">
                            <p class="chat-member-username">{{ (recipient_id|get_user_by_id).username }}</p>

                            <div class="last-message-info">
                                <div class="inner-last-message-info">
                                    <p class="last-message-sender" id="sender-{{ recipient_id }}">{{ chat.last_message_sender }}:</p>
                                    <p class="last-message-text" id="text-{{ recipient_id }}">{{ chat.last_message_text }}</p>
                                </div>

                                <p class="last-message-date" id="date-{{ recipient_id }}">{{ chat.last_message_date.strftime('%H:%M %d.%m.%Y') }}</p>
                            </div>

                        </div></a>
                    {% endif %}

                {% endfor %}
            </div>
            

        {% else %}
            <p class="no-chats">You are have no chats</p>
        {% endif %}

    {% else %}
        <p class="registration-text">First you need to register or log in to your account</p>

        <div class="buttons">
            <a href="{{ url_for('auth_routes.login_page') }}" class="button-href"><div class="button">Log in</div></a>
            <a href="{{ url_for('auth_routes.registration_page') }}" class="button-href"><div class="button">New account</div></a>
        </div>
    {%  endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script
    src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"></script>

    <script>

        window.addEventListener("DOMContentLoaded", (event) => {
            socketio = io();

            // ХЕНДЛЕРЫ

            // хендлер подключения
            socketio.on('connect', (data) => {
                socketio.emit('connect_to_main_page_room', {'room_name':'{{ room_name }}'});
            });

            // хендлер для обновления последнего сообщения чата
            socketio.on('new_main_page_message', (data) => {
                console.log(data)

                const last_message_sender = document.getElementById('sender-' + data['message_obj']['sender_id']);
                const last_message_text = document.getElementById('text-' + data['message_obj']['sender_id']);
                const last_message_date = document.getElementById('date-' + data['message_obj']['sender_id']);

                last_message_sender.innerHTML = data['message_obj']['sender_username'] + ':';
                last_message_text.innerHTML = data['message_obj']['text'];
                last_message_date.innerHTML = data['message_obj']['send_date'];
            });


            // функция выхода из комнаты
            function leave_room() {
                socketio.emit('disconnect_from_main_page_room', {'room_name':'{{ room_name }}'}, () => {
                    socketio.disconnect();
                });
            }
        });
    </script>

{% endblock %}
