{% extends 'base.html' %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block title %}
    Edit username | LG
{% endblock %}

{% block content %}

    <form class="form" action="{{ url_for('user_routes.edit_username') }}" method="post" novalidate>

        {{ form.csrf_token }}

        {% for error in form.new_username.errors %}
            <p class="field-error">{{ error }}</p>
        {% endfor %}

        {{ form.new_username(class='field', autocomplete='off', placeholder='New username', value=g.user.username) }}

        {% for error in form.current_password.errors %}
            <p class="field-error">{{ error }}</p>
        {% endfor %}
        {{ form.current_password(class='field', autocomplete='off', placeholder='Current password') }}

        {{ form.submit(class='submit', value='Save') }}
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
 