@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-color: #111112;
    --border-color: #2E2E2F;
    --blue-color: #0D99FF;
    --light-bg-color: #18181A;
    --default-text-color: #ffffff;
    --muted-text-color: #818181;
    --red: #E5515D;
}

a{
    text-decoration: none;
}

p{
    margin-block: 0;
}

input::placeholder{
    color: var(--muted-text-color);
}

body, html{
    padding: 0;
    margin: 0;
}

body{
    background: var(--bg-color);
}

.main-block{
    width: 800px;
    height: 900px;

    display: flex;
    flex-direction: column;

    margin: 40px auto;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

/* ХЕДЕР */
.header{
    min-height: 60px;

    display: flex;
    align-items: center;

    background: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 16px 16px 0 0;
}

.inner-header{
    width: 100%;
    height: 100%;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.company-name{
    font-family: 'Roboto Mono', monospace;

    color: var(--default-text-color);
    font-size: 20px;
    font-weight: 400;
    color: var(--default-text-color);
}

/* Поле ввода поиска по никнейму */
.search-block{
    margin-left: 48px;
    width: 360px;
    height: 40px;

    background: var(--bg-color);

    position: relative;
}

.search-input{
    width: 100%;
    height: 100%;

    outline: none;
    appearance: none;

    padding-left: 16px;

    font-size: 14px;
    font-weight: 400;
    color: var(--default-text-color);

    border: 0;
    border-radius: 12px;

    background: var(--light-bg-color);
}

/* Контентная часть */
.content{
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
}

/* Результат поиска по никнейму */
.search-results{
    width: 100%;

    display: none;

    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;

    background: transparent;
}

.search-result{
    width: 400px;
    height: 40px;
    
    text-decoration: none;

    background: var(--light-bg-color);

    display: flex;
    align-items: center;

    padding-left: 24px;
    margin: auto;
    margin-top: 6px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    color: var(--default-text-color);
}

.search-result:hover{
    border: 2px solid var(--blue-color);
}

.sr-visible{
    display: block;
}


/* Блок текущего пользователя */
.user-profile-href{
    width: max-content;
    height: 40px;

    margin-left: auto;
}

.user-box{
    display: flex;
    align-items: center;
    padding: 8px 16px;

    border: 1px solid var(--border-color);
    border-radius: 12px;

    cursor: pointer;
}

.user-icon{
    width: 18px;
    height: 18px;
}

.main-username{
    margin-left: 14px;

    font-size: 14px;
    font-weight: 400;
    color: var(--default-text-color);
}

